@import "tailwindcss";

@theme {
  --color-primary: #2F2F2F;
  --color-secondary: #FFFFFF;
  --color-accent: #FACC15;
  
  --color-ev-primary: #0D9488;
  --color-ev-secondary: #5EEAD4;
  --color-ev-accent: #2563EB;
  
  --color-background-soft: #F8FAFC;

  --color-status-success: #22c55e;
  --color-status-danger: #ef4444;
  --color-status-warning: #eab308;
  --color-status-info: #3b82f6;

  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

@layer base {
  body {
    @apply bg-background-soft text-primary font-sans antialiased;
    /* Optional: To mimic mobile app feel on desktop */
    @apply flex justify-center min-h-screen bg-gray-100;
  }
  
  #root {
    @apply w-full max-w-md bg-background-soft min-h-screen relative shadow-2xl overflow-x-hidden;
  }
}
